<!DOCTYPE html5>

<html>

<head>
    <link rel="stylesheet" href="./Public/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="./Public/img/profilephoto.png">
    <p>Created by {{name}}</p>
</body>

</html>